<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <title>Chip label</title>
    <style>
        .outer{
            margin:10%;
            width:100px;
            height:30px;
            border:solid 1px white;
            display:flex;
            justify-content: space-around;
            align-items: center;  
           border-radius: 15px;
        }
        .fa-solid{
            color:grey;
        }
    </style>
</head>
<body>
    <button class="outer"> 
        <div>Chip label</div>
        
        <div><i class="fa-solid fa-circle-xmark"></i></div>
        
    </button>
</body>
</html>